<!-- app/views/sessions/new.html.erb -->

<%# ヘッダー部分 %>
<%= render 'layouts/header' %>

<h1>ログイン画面</h1>

<%= form_for :session, url: login_path do |f| %>
  <div class="field">
    <%= f.label :email %>
    <%= f.email_field :email, required: true %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <%= f.password_field :password, required: true %>
  </div>

  <div class="actions">
    <%= link_to "ログイン", main_path %>
  </div>
<% end %>

<%= link_to "登録画面へ", signup_path %>


