<!-- app/views/users/new.html.erb -->

<%# ヘッダー部分 %>
<%= render 'layouts/header' %>

<h1>新規登録画面</h1>

<%= form_for @user, url: signup_path do |f| %>
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name, required: true %>
  </div>

  <div class="field">
    <%= f.label :email %>
    <%= f.email_field :email, required: true %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <%= f.password_field :password, required: true %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation, "パスワードの確認" %>
    <%= f.password_field :password_confirmation, required: true %>
  </div>

  <div class="actions">
  <%= link_to "登録", main_path %>
  </div>
<% end %>


